<app-panel>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="notes">
      <tr *ngFor="let note of notes">
        <td>{{note.id}}</td>
        <td><a [routerLink]="['../details', note.id]">{{note.title}}</a></td>
        <td>{{note.date | date:'medium'}}</td>
        <td><button class="btn btn-link" (click)="deleteNote(note.id)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</app-panel>
