.tile {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #E4E4E4;
  overflow: hidden;
  padding-bottom: 5px;
  border-radius: 5px;
  background: #FFF;
  transition: all .3s ease-in-out;
  height: 100px;
}

.tile .title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.65857143
}

.tile .icon {
  width: 20px;
  height: 20px;
  color: #BAB8B8;
  position: absolute;
  right: 53px;
  top: 22px;
  z-index: 1;
}

.tile .icon i {
  margin: 0;
  font-size: 60px;
  line-height: 0;
  vertical-align: bottom;
  padding: 0;
}

.tile .title,
.tile p {
  position: relative;
  margin: 0;
  margin-left: 10px;
  z-index: 5;
  padding: 0;
}
