<ng-template ngFor let-item [ngForOf]="items">
  <li *ngIf="!item.children;else withDropdown" #link1 [routerLink]="item.link" [queryParams]="item.queryParams"
    [routerLinkActive]="item.activeLink" [ngClass]="item.class" [class.active]="item.selected" [class.dropdown-item]="!isRoot">
    <a *ngIf="!item.link&&!item.onClose&&item.onClick" (click)="item.onClick()">
      <span class="title">{{item.title}}</span>
    </a>
    <a *ngIf="item.link" [ngClass]="{'closeable': item.onClose }">
      <span *ngIf="item.onClose" (click)="close(item)" class="close fa fa-close"></span>
      <i *ngIf="isRoot && item.icon" class="fa {{item.icon}}"></i>
      <span class="title">{{item.title}}</span>
    </a>
  </li>

  <ng-template #withDropdown>
    <li ngbDropdown #link [routerLink]="item.link" [queryParams]="item.queryParams" [routerLinkActive]="item.activeLink"
      [ngClass]="item.class" [ngClass]="{'active': item.selected, 'dropdown-item': !isRoot}">
      <a ngbDropdownToggle *ngIf="!item.link&&!item.onClose&&item.onClick" (click)="item.onClick()">
        <span class="title">{{item.title}}</span>
      </a>
      <a ngbDropdownToggle *ngIf="!item.link&&!item.onClose&&!item.onClick">
        <i *ngIf="isRoot && item.icon" class="fa {{item.icon}}"></i>
        <span class="title">{{item.title}}</span>
      </a>
      <a ngbDropdownToggle *ngIf="!item.link&&item.onClose" class="closeable" (click)="close(item)">
        <span class="close fa fa-close"></span>
        <span class="title">{{item.title}}</span>
      </a>
      <a ngbDropdownToggle *ngIf="item.link" [ngClass]="{'closeable': item.onClose }">
        <span *ngIf="item.onClose" (click)="close(item)" class="close fa fa-close"></span>
        <i *ngIf="isRoot && item.icon" class="fa {{item.icon}}"></i>
        <span class="title">{{item.title}}</span>
      </a>
      <ul ngbDropdownMenu app-navbar-list *ngIf="item.children" [ngClass]="{'opened': item.children.length && item.group }" [routerLinkActive]="['active', 'open']"
        [items]="item.children" [path]="item.link" [level]="level+1">
      </ul>
    </li>
  </ng-template>
</ng-template>
