<div *ngIf="title" class="title row">
  <div class="col">
    <h4>
      <a *ngIf="back" class="back" [routerLink]="back"><i class="fa fa-chevron-left"></i></a>
      {{title}}
    </h4>
  </div>
  <!-- <ul class="nav navbar-right panel_toolbox">
    <li *ngIf="canCollapse" (click)="collapse()"><a class="collapse-link"><i [ngClass]="{'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed}" class="fa"></i></a></li>
    <li *ngIf="canClose"><a class="close-link"><i class="fa fa-close"></i></a>
    </li>
  </ul> -->
  <div class="col text-right">
    <ng-container *ngTemplateOutlet="actions"></ng-container>
  </div>
</div>
<div *ngIf="!collapsed" class="content" [ngClass]="{'with-title': title}" (scroll)="onScroll($event)">
  <ng-content></ng-content>
</div>
