<div *ngIf="buttons && (buttons | json) != '{}'" class="btn-group">
  <button *ngFor="let btn of buttons; let idx = index;" class="btn btn-lg btn-default"
          [ngClass]="{focus: btn.focus}" ngbTooltip="{{btn.tooltip}}" placement="bottom" (click)="btnClick(btn.pagedata, idx)">
    <i class=" fa {{btn.icon}}"></i>
  </button>
</div>
