.row-padding {
  padding-bottom: 8px;
}

.bottom-collapse {
  float: right;
  //margin-top: -55px;
  margin-right: 10px;

  &.up {
    margin-top: -55px;
  }
}

i {
  cursor: pointer;
}

.fa {
  font-size: 2.5rem;
}

.header-item {
  margin-right: 20px;
}

.header-info {
  width: 100%;
}
