.login {
  .login_wrapper {
    right: 0px;
    margin: 0px auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative;
  }

  .login_form {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 22;
  }

  .login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
    h1 {
      font: normal 25px Helvetica, Arial, sans-serif;
      letter-spacing: -0.05em;
      line-height: 20px;
      margin: 10px 0 30px;
      &:before,
      &:after {
        content: "";
        background: rgb(126, 126, 126);
        height: 1px;
        position: absolute;
        top: 10px;
        width: 27%;
      }
      &:after {
        background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
        right: 0;
      }
      &:before {
        background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
        left: 0;
      }
    }
    form {
      margin: 20px 0;
      position: relative;
    }
  }
}
