$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path:   '~font-awesome/fonts/';

$input-border-color: #ccc !default;

@import "reboot";

// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import '~gentelella/src/scss/custom';

@import "variables";

@import "~bootstrap/scss/bootstrap";

@import '~font-awesome/scss/font-awesome';

html {
  font-size: 13px;
}
// layout
html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.site_title {
  cursor: pointer;
  flex-basis: 200px;
  background-size: 170px 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-left: 20px;
}

router-outlet {
  display: none !important;
}

@media (min-width: 1000px) {
  .modal-lg {
    width: 850px;
  }
}

.dropdown-notoggle {
  .dropdown-toggle::after {
    display: none;
  }
}

.dropdown {
  &.dropdown-left {
    .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  }
  .dropdown-item {
    cursor: pointer;
  }
}
.dropdown-toggle-split {
  border-left: 1px solid;
}

.hidden {
  display: none !important;
}

nav .module-title {
  padding: 0 15px;
}

.input-group {
  > .input-group-prepend,
  > .input-group-append {
    > .btn {
      border-radius: 0;
      border-color: $input-border-color;
    }
  }
}

.custom-control {
  min-height: 2rem;
}

.btn.btn-lg i.fa {
  font-size: 1.5rem;
  padding-right: 1rem;
}

label {
  color: $label-color;
  font-size: .85rem;
}

.form-group.dark {
  background-color: #f2f2f2;
  padding: 2rem;
}
